@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-09-08 20:08:29
 * @version $Id$
 */
/* reset */
    body, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, form, input, th, td, p, div, b, em, nav, section, footer, span, li, img, a{ margin: 0; padding: 0;}
    table {border-collapse:collapse;}
    img { border: none; vertical-align: top;}
    li { list-style: none;}
    a { text-decoration: none;}
    em{ font-style: normal;}
    textarea{ resize: none; overflow: auto;}
    input,textarea,select,lable{ border: none;}
    .clear:after{ content: ""; display: block; clear: both;}
    .fl{float:left;}
    .fr{float:right;}


    body{background:#3c3c3c;overflow:hidden;}
    .all{
        position:relative;
        cursor: pointer;
        background:#000;
    }
    .screen1{
        background:url(img/bac.png) repeat;
        position: absolute;
        top: 0;
        left: 0;
    }
    .head{
        width:118px;
        height:118px;
        background:url(img/head1.png) no-repeat;
    }
    .fix{
        position:fixed;
        top:50px;
        left:80px;
        width:68px;
        height:68px;
        background:url(img/1.png) no-repeat 0 0;
        z-index:2;
    }
    /*菜单部分样式*/
    .menu{
        width:130px;
        height:34px;
        border:2px solid #1f1f1f;
        position: fixed;
        top: 50px;
        right: 82px;
        z-index:2;
    }
    .three p{
        width:20px;
        height:3px;
        background:#1f1f1f;
        margin-top:2px;
        margin-right:18px;
    }
    .three{
        border-right:2px solid #1f1f1f;
        margin-right:13px;
    }
    .word{
        font:16px 'Arial';
        font-weight:bold;
    }
    .menubw{
        margin:10px 17px;
    }
    .content{
        width: 808px;
        margin: 0 auto;
    }
    .content_back{
        width: 378px;
        height: 184px;
        margin: 0 auto;
        background: url(img/1.png) no-repeat 0 -98px;
    }
    .content_word{
        margin:35px 0 30px 0;
        position:relative;
    }
    .content_red{
        width: 324px;
        margin: 0 auto;
        font: 50px 'Arial';
        font-weight: 900;
        letter-spacing: 35px;
        color: #e42844;
    }
.div1 .back{
    position:relative;
    display:block;
    width:101px;
    height:92px;
    text-align: left;
}
.div1:nth-child(1) span{
    background:url(img/1.png) no-repeat top left;
    background-position:0 -302px;
}
.div1:nth-child(2) span{
    background:url(img/1.png) no-repeat top left;
    background-position:-101px -302px;
}
.div1:nth-child(3) span{
    background:url(img/1.png) no-repeat top left;
    background-position:-202px -302px;
}
.div1:nth-child(4) span{
    background:url(img/1.png) no-repeat top left;
    background-position:-303px -302px;
}
.div1:nth-child(5) span{
    background:url(img/1.png) no-repeat top left;
    background-position:-404px -302px;
}
.div1:nth-child(6) span{
    background:url(img/1.png) no-repeat top left;
    background-position:-505px -302px;
}
.div1:nth-child(7) span{
    background:url(img/1.png) no-repeat top left;
    background-position:-606px -302px;
}
.div1:nth-child(8) span{
    background:url(img/1.png) no-repeat top left;
    background-position:-707px -302px;
}
.page1{
    position:absolute;
    right: 110px;
    font-weight:800;
    font-size:14px;
}
/*hover准备*/
.rim{
    position:absolute;
    top:0;
    display:block;
    width:101px;
    height:92px;
    opacity:0;
}
.div1:nth-child(1) .rim{
    left:0;
    width:92px;
    background:url(img/1.png) no-repeat;
    background-position:0 -426px;
}
.div1:nth-child(2) .rim{
    left:101px;
    background:url(img/1.png) no-repeat;
    background-position:-96px -426px;
}
.div1:nth-child(3) .rim{
    left:202px;
    background:url(img/1.png) no-repeat;
    background-position:-202px -426px;
}
.div1:nth-child(4) .rim{
    left:303px;
    background:url(img/1.png) no-repeat;
    background-position:-303px -426px;
}
.div1:nth-child(5) .rim{
    left:404px;
    background:url(img/1.png) no-repeat;
    background-position:-404px -426px;
}
.div1:nth-child(6) .rim{
    left:505px;
    background:url(img/1.png) no-repeat;
    background-position:-505px -426px;
}
.div1:nth-child(7) .rim{
    left:606px;
    background:url(img/1.png) no-repeat;
    background-position:-606px -426px;
}
.div1:nth-child(8) .rim{
    left:707px;
    background:url(img/1.png) no-repeat;
    background-position:-707px -426px;
}
@keyframes move{
    0%{transform:scale(1);}
    100%{transform:scale(1.8);}
}
.div1:hover .rim{animation:.8s move;}


/*第二个页面*/
.screen2{
    position: absolute;
    top:0;
    background:#e2e2e2;
}
.scroll{
    line-height: 666px;
    height: 666px;
    transform: translate3d(0px, 0px, 0px);
}
.main2 div{
    width:692px;
    height:731px;
    position: absolute;
    top: 0;
    left: 0;
}
.main2{
    position:relative;
    width:692px;
    height:731px;
    transform: scale(0.75) translate(0px,-12%);
    margin:0 auto;
}
.con2{
    background:url(img/con2.png) no-repeat top left transparent;
    transform: translate3d(-21.179px, 27.57658px, 0px);
}
.main2_1{
    background:url(img/m2_w.png) no-repeat top left transparent;
    transform: translate3d(-13.5px, 28.9px, 0px);
}
.main2_3{
    background:url(img/m2_our.png) no-repeat top left transparent;
    transform: translate3d(-1.967px, 28.99428px, 0px);
}
.main2_4{
    background:url(img/m2_upshi.png) no-repeat top left transparent;
    transform: translate3d(-32.5315px, 42.1282px, 0px);
}
.main2_5{
    background:url(img/m2_ds.png) no-repeat top left transparent;
    transform: translate3d(-30.272px, 39.3095px, 0px);
}
.main2_6{
    background:url(img/m2_dds.png) no-repeat top left transparent;
    transform:translate3d(-31.2084px, 20.8962px, 0px);
}
.main2_7{
    background:url(img/m2_cover_7.png) no-repeat top left transparent;
    transform:translate3d(-65.2084px, 4.8962px, 0px);
}

/*下边的那个小三角*/
.mainBottom_sub span{
    position:absolute;
    top:12px;
    left:50%;
    margin-left:-9px;
    display:block;
    background:url(img/1.png) no-repeat -107px -58px;
    width:18px;
    height:10px;
}

.mainBottom{
    position:relative;
}
.mainBottom_sub {
    width: 142px;
    height: 34px;
    border: 2px solid #000;
    position: absolute;
    top: -130px;
    left: 50%;
    margin-left:-73px;
    background:rgba(226,226,226,0.65);
}
.page2{
    position: absolute;
    top: 330px;
    right: 10%;
    font-weight: 800;
    font-size: 14px;
    color:#000;
}
/*这个是滚动时下边的页面*/
.mainBottom_pic{
    width:100%;
    background:#1e1e1e;
    font-family: Times New Roman;
    transition:1s;
    z-index:12;
}
.toMenu{
    height:64px;
    width:16.11rem;
    margin:0 auto;
    background:#1e1e1e;
}
.toMenu ul li{
    position:relative;
    float:left;
    color:#fff;
    font-weight:900;
    font-size:12px;
    line-height:64px;
    padding:0 15px;
    padding-left:0.7028rem;
    text-transform:uppercase;
    border-right:1px solid #292929;
}
.toMenu ul li:first-child{
    border-left:1px solid #292929;
}
.toMenu ul li img{
    position:absolute;
    top:0;
    left:0;
    height:0.937rem;
}
.search{position:relative;margin-top:15px;}
.slide{position:absolute;top:0;left:0;right:0;transition:.5s;}
.search input[type="text"]{
    width: 2.24rem;
    height: 18px;
    text-transform:uppercase;
    padding:8px 20px;
    padding-left:0.7320rem;
    background: #252525;
    font-size:12px;
    color:#fff;
    float:left;
}
.search span{
    position:absolute;
    top:12px;
    left:18px;
    display:block;
    width:17px;
    height:11px;
    background:url(img/1.png) no-repeat -132px -48px;
    float:left;
}
.search input[type="button"]{
    width:41px;
    height:34px;
    background:#383838;
    color:#fff;
    font-size:14px;
    cursor:pointer;
    display:block;
}
.screen2 .pushs{position:relative;text-align:center;}
.pushs a{
    display:block;
    float:left;
    width:25%;
    position:relative;
    color:#fff;
}
.pushs span{display:block;}
.pushs a .images{
    display:block;
    width:100%;
    opacity:.5;
    z-index:20;
}
.pushs .cover{
    position:absolute;
    bottom:36px;
    left:0;
    right:0;
    text-transform:uppercase;
}
.pushs .cover img{
    display:block;
    margin:0 auto;
    margin-bottom:12px;
}
.pushs .cover strong{
    font-size: 26px;
    line-height:38px;
}
.pushs .cover .type,.pushs .cover .county{
    font-size: 14px;
    line-height:20px;
    overflow:hidden;
}
.pushs .cover .county{font-weight:700;}
.pushs .hover{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    border:4px solid #fff;
    margin:3%;
    transition:all 200ms ease-out;
}
.screen2 .hover{display:none;}
.pushs .center{
    position:absolute;
    top:50%;
    left:0;
    right:0;
    margin-top:-20px;
}
.pushs .center span{
    font-size:19px;
    font-weight:900;
    line-height:31px;
    padding:0 10px;
    border:4px solid #fff;
    text-align:center;
    letter-spacing: 10px;
    text-transform:uppercase;
    display:inline-block;
}
.screen2 .pushs a:hover .images{opacity:1;}
.screen2  .pushs a:hover .cover{display:none;}
.screen2 .pushs a:hover .hover{display:block;}
/*这个是页面滚下来的时候上边的部分*/
 header{
    position:absolute;
    top:-88px;
    background-color:#fff;
    height:88px;
    width:100%;
    z-index:10;
    transition:1s;
}
.top{
    background-color:#fff;
    width:80%;
    margin:25px auto;
}
.top .headMenu{
    width: 130px;
    height: 34px;
    border: 2px solid #1f1f1f;
}
header .top h2{float:left;}
.scroller{background:#e2e2e2;}
.newsletter{position:relative;z-index:9;width:100%;background:#1e1e1e;}
header .top h2 img{display:block;}
/*第三个页面*/
.screen3{
    position: absolute;
    top:0;
    background:#0a0a0a;
}
.back3{
    width:900px;
    background:url(img/z.jpg)  no-repeat;
    background-size:100%;
    margin:0 auto;
}


.scroll3{
    line-height: 666px;
    height: 666px;
    transform: translate3d(0px, 0px, 0px);
}
.main3 div{
    width:692px;
    height:731px;
    position: absolute;
    top: 0;
    left: 0;
}
.main3{
    position:relative;
    width:692px;
    height:731px;
    transform: scale(0.75) translate(0px,-2%);
    margin:0 auto;
}
.main3_1{
    background:url(img/f3.png) no-repeat top left;
}
.main3_2{
    background:url(img/check_2.png) no-repeat top left;
}
.main3_3{
    background:url(img/che3.png) no-repeat top left;
}
.main3_4{
    background:url(img/t3.png) no-repeat top left;
}
.main3_5{
    background:url(img/check_5.png) no-repeat top left;
}
.main3_6{
    background:url(img/our3.png) no-repeat top left;
}
.main3_7{
    background:url(img/y3.png) no-repeat top left;
}
.mainBottom3{position:relative;}
.screen3 .slide3{position:absolute;top:0;left:0;right:0;transition:1s;}
.screen3 .mainBottom_sub span{
    position:absolute;
    top:12px;
    left:50%;
    margin-left:-9px;
    display:block;
    background:url(img/1.png) no-repeat -107px -70px;
    width:18px;
    height:10px;
}
.screen3 .mainBottom_sub{border: 2px solid #fff;background:rgba(10,10,10,.5);}
/*.mainBottom_sub3 {
    width: 142px;
    height: 34px;
    border: 2px solid #fff;
    position: absolute;
    top: -170px;
    left: 50%;
    margin-left:-73px;
    background:rgba(10,10,10,.5);
}*/

.screen3 .page2{
    color:#fff;
}
/*这个是第三个页面的下面的部分*/
.screen3 .pushs .allText{
    background:rgb(249, 164, 64);
}
.pushs .parentHover{
    position:absolute;
    top:0;
    left:0;
}
.screen3 .pushs .slip{margin:1px;}
.parentHover img{width:100%;}
.screen3 .pushs .date{font-size:20px;line-height:60px;}
.screen3 .pushs .date strong {font-size: 42px;}
.screen3 .pushs span.type{
    font-size: 17px;
    max-width: 220px;
    line-height: 25px;
}
.pushs span .place .pix{
    width:14px;
    height:18px;
    background:url(img/1.png) no-repeat -156px -50px;
    margin-top:17px;
}
.place .inner{
    font-size: 14px;
    font-weight: 600;
    margin:17px 0 0 10px;

}
.screen3 .pushs .cover{left:50%;bottom:50%;margin-left:-113px;margin-bottom:-72px;}
.screen3 .pushs .center{text-align:center;}
.screen3 .pushs{position: relative;}
.screen3 .pushs a{perspective:1000px;}
.screen3 .pushs a .slip{transform-style:preserve-3d; transform-origin: right center;}
.screen3 .text{transition:.8s transform;}
.screen3 .parentHover{transform:rotateY(-180deg);transition:.8s transform;}
.screen3 .pushs .slip:hover .text{transform:rotateY(180deg);}
.screen3 .pushs .slip:hover .parentHover{transform:rotateY(0deg);}
.screen3 .pushs a:nth-child(3) .allText{background:blue;}
/*.screen3 .parentHover .hover{display:block;}*/


/*第四个页面*/
.screen4{
    position: absolute;
    top:0;
    background:#c7c4b9;
}
.scroll4{
    line-height: 666px;
    height: 666px;
    transform: translate3d(0px, 0px, 0px);
}
.main4 div{
    width:754px;
    height:731px;
    position: absolute;
    top: 0;
    left: 0;
}
.main4{
    position:relative;
    width:692px;
    height:731px;
    transform: scale(0.65) translate(0px,-3%);
    margin:0 auto;
}
.main4_1{
    background:url(img/p4.png) no-repeat top left;
}
.main4_2{
    background:url(img/x4.png) no-repeat top left;
}
.main4_3{
    background:url(img/wedid_3.png) no-repeat top left;
}
.main4_4{
    background:url(img/wedid_5.png) no-repeat top left;
}
.main4_5{
    background:url(img/t4.png) no-repeat top left;
}
.main4_6{
    background:url(img/w4.png) no-repeat top left;
}
.main4_7{
    background:url(img/wedid_7.png) no-repeat top left;
}
.mainBottom4{position:relative;}
.mainBottom4 .mainBottom_sub{background:rgba(199,196,185,0.65);}
/*下边的部分*/
.screen4 .pushs4{position:relative;}
.screen4 .pushs4 .push{float:left;width:20%;position:relative;}
.screen4 .pushs4 .push .images{width:100%;}
.pushs4 .push .opened .images{float:left;}
.screen4 .push .opened{position:absolute;top:0;bottom:0;left:0;width:200%;z-index:13;background:#fff;overflow:hidden;opacity:0;visibility:hidden;transition:1s;}
.screen4 .push .opened img{height:100%;float:left;}
.screen4 .push .text{background:#fff;font-size:.2342rem;float:left;position:absolute;top:0;left:25%;}
.screen4 .push .text h4{color:#e13854;line-height:.5857rem;font-size: .5124rem;padding-top:.2928rem;}
.screen4 .push .text span{color:#939393;font-weight:400;} 
.screen4 .push .text .pop{font-size:.2928rem;}
.screen4 .push .text .txt li{display:block;background:#f5f5f5;line-height: .5857rem;}
.screen4 .push .text .links a{display:block;width:79px;height:28px;background:url(img/1.png) no-repeat -434px 0;text-indent:-6000px;}
.screen4 .push .text .avail{margin:.2928rem 0;}
.screen4 .push .text .avail strong{line-height:.4685rem;}
.pushs4 .push .opened .close{
    background: url(img/1.png) no-repeat top left transparent;
    display: block;
    zoom: 1;
    background-position: -679px -164px;
    width: 19px;
    height: 19px;
    text-indent: -6000px;
    text-align: left;
    top: 16px;
    right: 20px;
    position: absolute;
    cursor: pointer;
    z-index: 5;
}
.pushs4 .push .opened .scrollBar{
    position:absolute;
    top:0;
    right:0;
    width:8px;
    border-radius:3px;
    background:rgba(0, 0, 0, 0.498039);
    display:none;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    z-index: 10;
    opacity: .6;
    display:none;
}
/*第五个页面*/
.screen5{
    position: absolute;
    top:0;
    background:#a1a1a1;
}
.scroll5{
    line-height: 666px;
    height: 666px;
    transform: translate3d(0px, 0px, 0px);
}
.main5 div{
    width:754px;
    height:854px;
    position: absolute;
    top: 0;
    left: 0;
}
.main5{
    position:relative;
    width:692px;
    height:731px;
    transform: scale(0.75) translate(0px,-2%);
    margin:0 auto;
}
.main5_1{background:url(img/meet_1.png) no-repeat top left;}
.main5_2{background:url(img/m5.png) no-repeat top left;}
.main5_3{background:url(img/meet_4.png) no-repeat top left;}
.main5_4{background:url(img/meet_5.png) no-repeat top left;}
.main5_5{background:url(img/meet_6.png) no-repeat top left;}
.main5_6{background:url(img/meet_7.png) no-repeat top left;}
.main5_6{background:url(img/our5.png) no-repeat top left;}
.mainBottom5{position:relative;}
.mainBottom5 .mainBottom_sub{background:rgba(163,163,163,0.65);}
/*页面下边的部分*/
.contentLeft{width:60%;}
.Imgas{position:relative;height:40%;overflow:hidden;z-index:20;}
.Imgas img{width:820px;height:540px;position:absolute;top:-159px;left:0;}
.tabs{height:60%;}
.tabTitle{height:55px;text-transform:uppercase;text-align:center;background:#fff;line-height: 55px;font-size: 20px;font-weight:900;position:relative;z-index:20;}
.item{width:49%;float:left;position:relative;border-left:1px solid #ccc136;}
.item span{
    width: 0;
    height: 0;
    font-size: 0;
    border-width: 15px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 40px;
}
.item.select span{top:55px;}
.tabContents{background:#1f1f1f;color:#fff;position: relative;}
.tabContentContainer{padding:10% 11%;}
.tabContent{font-size: 20px;}
.tabContent h3{font-size:30px;}
.address{line-height: 30px;margin-top:40px;}
.address div a{color:#b55050;}
.form{margin-left:60px;}
.form .input input{
    background-color: #1f1f1f;
    text-align: center;
    border: 2px #303030 solid;
    text-transform: uppercase;
    color: #1f1f1f;
    font-family: 'brandon-grotesque';
    font-size: 18px;
    font-weight: 700;
    padding: 10px 10px;
    width: 91%;
    font-size: 16px;
}
.contactForm{width:80%;}
.contactForm h2{
    border: 4px solid #fff;
    float: left;
    padding: 10px;
    margin-bottom:12px;
}
.form .input{float:left;width:49.7%;}
.input.textarea{background:#1f1f1f;width:100%;margin-bottom:20px;}
.input.textarea textarea{
    background: #1f1f1f;
    width: 99%;
    height: 100px;
    line-height: 70px;
    text-align: center;
    font-size: 30px;
    border:2px #303030 solid;
    overflow:hidden;
}
.form button{
    background: #323232;
    border: none;
    color: #fff;
    display: block;
    width: 215px;
    height: 65px;
    float: right;
    font-size: 15px;
    text-transform: uppercase;
}
.contentRight{
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    width: 40%;
    background: #242424;
    font-family: 'brandon-grotesque';
    font-size: 24px;
    font-weight: 900;
    color: #FFFFFF;
    text-transform: uppercase;
    z-index: 2;
}
.contentRight h3{
    font-size: 16px;
    line-height: 34px;
    padding: 0 32px;
    border: 2px solid #ffffff;
    margin: 39px 36px 31px 36px;
    display:inline-block;
}
.contentRight ul li{
    line-height: 75px;
    height: 75px;
    padding: 0 30px;
    border-bottom: 1px solid #1f1f1f;
    background: #2a2929;
    position: relative;
    font-size: 20px;
}
.contentRight ul li span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background:#e80000;
}
.contentRight ul li span.choose{width:7px;}